<mat-toolbar class="app-header">Header</mat-toolbar>
<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav" [fixedInViewport]="false" fxLayout="column">
        <div class="sidenav-link-box" [routerLink]="link.path" routerLinkActive="router-link-active"
            *ngFor="let link of routerLinks">
            {{link.label}}
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="app-footer">Footer</mat-toolbar>